.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

.header {
    color: rgb(56, 101, 159)
}

.form {
    margin: 20px 0px 10px 0px;
}

.input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 8px;
    background-color: rgb(232, 237, 252);
}

.btn {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    background-color: #5086c7;
    color: #fff;
}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    margin-right: 20px;
}
